---
import { Box } from '@app/components'
import ApplicationLogotype from '@app/assets/logotype-bw.svg'
import Layout from '@app/layouts/Layout.astro'
---

<Layout title="Not Found">
  <div class="justify-center items-center grow flex">
    <Box floating class="max-w-80 flex items-center gap-2! mt-[-25%]! relative">
      <ApplicationLogotype />
      <strong>Page Not Found!</strong>
      <a href="/">Return Home</a>
    </Box>
  </div>
</Layout>
