---
import { Box, Stars, Lines, Player, Divider } from '@app/components'
import Layout from '@app/layouts/Layout.astro'
---

<Layout>
  <div class="contents">
    <Box floating>
      Waves of sound, thought, and symbol. Streaming from an alternate present.
      Welcome to the broadcast beyond the ordinary.
      <Divider />
      <Player
        client:load
        transition:name="player"
        transition:persist="player"
      />
    </Box>
  </div>
</Layout>
<Stars />
<Lines />

<style>
  @reference 'tailwindcss';

  .contents {
    @apply flex grow justify-center items-center;
  }
  :global(.Box) {
    @apply z-10 w-130 text-center relative backdrop-blur-sm mt-[-25%];
  }
  :global(body > main) {
    @apply relative z-2;
  }
  :global(body)::before {
    @apply absolute bottom-0 left-0 w-full h-full z-1;
    content: '';
    background-image: url(/public/images/main-illustration.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
  }
</style>
