---
interface Props {
  class?: string
  floating?: boolean
}

const { class: classes, floating = false } = Astro.props
---

<div class:list={['ui Box', classes, { floating }]}>
  <slot />
</div>

<style>
  @reference 'tailwindcss';

  .Box {
    @apply p-4 bg-[rgb(0, 0, 0, 0.15)] rounded-lg flex flex-col gap-4;
  }
  .Box.floating {
    --float-distance: -8px;
    animation: float 7s ease-in-out infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    .Box.floating {
      animation: none;
    }
  }
</style>
