---
interface Props {
  wavey?: boolean
}

const { wavey } = Astro.props
---

<div class="ui Divider" class:list={{ wavey }}>
  {wavey && <img src="/public/images/divider-wave.svg" alt="" />}
</div>

<style>
  .Divider {
    width: 100%;
  }
  .Divider img {
    max-width: 100%;
  }
  .Divider:not(.wavey) {
    height: 1px;
    opacity: 0.4;
    background-color: #ecbd47;
  }
</style>
