---
interface Props {
  wavey?: boolean
  class?: string
}

const { wavey, class: classes = '' } = Astro.props
---

<div class={`ui Divider ${classes}`} class:list={{ wavey }}>
  {wavey && <img src="/public/images/divider-wave.svg" alt="" />}
</div>

<style>
  .Divider {
    width: 100%;
  }
  .Divider img {
    max-width: 100%;
  }
  .Divider:not(.wavey) {
    height: 1px;
    opacity: 0.4;
    background-color: var(--color-ttl);
  }
</style>
