---
import ApplicationLogotype from '@app/assets/logotype-color.svg'
import { APP_NAME } from '@app/constants'

const currentPath = Astro.url.pathname
const _PATHS = [
  { url: '/', title: 'Home' },
  { url: '/about', title: 'About' },
  { url: '/program', title: 'Program' },
  { url: '/contact', title: 'Contact' },
]

const appName = APP_NAME.toLocaleLowerCase().split('.')
---

<header>
  <a href="/">
    <h1>
      <ApplicationLogotype />
      <span>
        <span>{appName[0]}</span><span class="opacity-50">.{appName[1]}</span>
      </span>
    </h1>
  </a>
  <nav>
    {
      _PATHS.map(path => (
        <a class:list={{ active: path.url === currentPath }} href={path.url}>
          {path.title}
        </a>
      ))
    }
  </nav>
</header>

<style>
  header {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header h1 {
    color: var(--color-fg);
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  header a {
    text-decoration: none;
  }
  nav {
    --nav-gap: 8px;
    background: #241c37;
    padding: 8px 16px;
    box-shadow: inset 2px 3px 6px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: flex;
    gap: var(--nav-gap);
  }
  nav a {
    display: flex;
    align-items: center;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
  }
  nav a.active {
    font-weight: bold;
  }
  nav a:not(:last-child)::after {
    content: '|';
    opacity: 30%;
    margin-left: var(--nav-gap);
  }
</style>
