@import '@fontsource/handjet/latin-400.css';
@import '@fontsource/montagu-slab/latin-300.css';
@import 'tailwindcss';

:root {
  --color-bg: #2f2237;
  --color-fg: #e8dfd8;

  --color-bg-faded: rgb(0 0 0 / 0.5);
  --color-ttl-second: hsl(27, 17%, 68%);

  --color-element: #000;
  --color-element-acc: #000;

  --w-page: 1000px;

  --font-size-body: 20px;
  --font-size-small: 14px;

  --font-ttl: 'Montagu Slab', serif;
  --font-txt: 'Handjet', system-ui, sans-serif;
}

@theme {
  --color-ttl: hsl(43, 81%, 60%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  background-color: var(--color-bg);
  overflow-y: auto;
  scrollbar-gutter: auto;
}
html,
body {
  width: 100%;
  height: 100%;
  position: absolute;

  color: var(--color-fg);

  font-family: var(--font-txt);
  font-size: var(--font-size-body);
}
body {
  padding: 0 20px;
}
a {
  color: var(--color-fg);
  text-decoration: underline;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  /* gap: 20px; */
}

@media (width < 540px) {
  .columns {
    grid-template-columns: 1fr;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, var(--float-distance, -10px), 0);
  }
}

@layer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-ttl);
    font-weight: normal;
    font-weight: 300;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 64px;
    text-transform: uppercase;
    color: var(--color-ttl);
  }
  h3 {
    font-size: 40px;
    text-transform: uppercase;
    color: var(--color-ttl-second);
  }
  @media (width < 500px) {
    h1,
    h3 {
      font-size: 32px;
    }
    h2 {
      font-size: 44px;
    }
  }
  small {
    font-size: var(--font-size-small);
  }
  button {
    cursor: pointer;
  }
  code {
    background: transparent;
  }
  pre {
    background: rgb(0 0 0 /0.2) !important;
    padding: 10px !important;
    color: inherit !important;
    font-family: inherit;
  }
  code,
  pre code {
    color: inherit !important;
    font-family: inherit;
  }
  pre {
    white-space: pre-wrap;
  }
  hr {
    width: 100%;
    height: 1px;
    opacity: 0.4;
    background-color: #ecbd47;
    border: 0;
  }

  *::placeholder {
    font-size: var(--font-size-small);
  }
  input::placeholder {
    position: relative;
    top: -2px;
  }

  ::view-transition-old(player),
  ::view-transition-new(player) {
    animation-duration: 500ms;
    animation-timing-function: ease-out;
  }
}
