---
import '@app/main.css'
import { Font } from 'astro:assets'
import { ClientRouter } from 'astro:transitions'
import { Header, Footer, Player, Stars, Lines } from '@app/components'
import { APP_DESC, APP_NAME } from '@app/constants'

interface Props {
  title?: string
  elements?: {
    stars?: boolean
    lines?: boolean
  }
  frontmatter?: {
    title: string
  }
}

const { title, elements, frontmatter } = Astro.props
const titleSegments = [title ?? frontmatter?.title, APP_NAME].filter(Boolean)
const isHome = Astro.url.pathname === '/'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={APP_DESC} />
    <title>{titleSegments.join(' - ')}</title>
    <ClientRouter />
  </head>
  <body>
    <Font cssVariable="--font-montagu-slab" preload />
    <Font cssVariable="--font-handjet" preload />
    <main
      id="application"
      class:list={{ 'has-topbar': !isHome, 'is-homepage': isHome }}>
      <Header currentPath={Astro.url.pathname} client:load />
      <div class="main-content">
        <slot />
      </div>
      <Footer />
    </main>
    {
      !isHome && (
        <Player
          mode="topbar"
          client:load
          transition:name="player"
          transition:persist="player"
        />
      )
    }
    {elements?.stars && <Stars />}
    {elements?.lines && <Lines />}
  </body>
</html>

<style>
  html {
    background: url(/public/images/background-noise.png) repeat;
  }
  body {
    background-image: url(/public/images/top-cutout.svg);
    background-position: top left;
    background-repeat: no-repeat;
  }
  main#application {
    max-width: var(--w-page);
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    gap: 70px;
    transition: padding-top 500ms ease-out;
  }
  main#application > .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  main#application.has-topbar {
    padding-top: 40px;
  }
  body::after {
    background: url(/public/images/top-sun.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 160px;
    width: 160px;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 48%;
  }
</style>
